<meta name="viewport" content="width=500, initial-scale=1"> <!--This line of code is for mobile responsive -->

<div class="BorderMargin">
  <image src = '/images/home.png' alt="LED" style="width:30vw;height:20vw;">

  <form class="form" action="/led/on" method="post">
    <button type="submit" class="button">LED On </button>
      <button type="submit" formmethod="post" formaction="/led/off" class="button button3">LED Off</button>
   </form>
 <form action="/led/on" method="post">
       <button type="submit" formmethod="post" formaction="/led/nodeOn" class="button button4">LAMP ON</button>
   	<button type="submit" formmethod="post" formaction="/led/nodeOff" class="button button5">LAMP OFF</button>
   </form>


  <!-- <a>Led Status: <%=status %></a> -->
</div>


<!-- The below code is only for look and styling -->
<style>

.form {
   margin-top: 10px;	 
	}

.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;	
    transition: transform .3s;	
    
}

.button:hover{
         
	transform:scale(1.1);
	}

.button2 {background-color: #008CBA;} /* Blue */
.button3 {background-color: #f44336;} /* Red */ 
.button4 {background-color: #e7e7e7; color: black;} /* Gray */ 
.button5 {background-color: #555555;} /* Black */


.BorderMargin {
  
   margin: 10px;
   padding: 10px;
   width: 100%;
   display: flex;
   justify-content:center;
   align-items: center;		
   flex-direction: column; 
   	
	 
}   
</style>